@model ICollection<Softtek.Academy2018.ToDoListApp.Web.Models.Item>

@using Softtek.Academy2018.ToDoListApp.Web.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewData["Header"]</h3>
<br />
@Html.ActionLink("Add a new Customer", "New", "Items")
<hr />
<br />

@if (Model.Count() <= 0)
{
    <h2>@ViewData["EmptyList"]</h2>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model as List<Item>) //ViewData["customerList"] this dude was working but then he got tired
            {
                <tr>
                    <td>   
                        @if(item.IsArchived == false)
                        {
                            @Html.DisplayFor(m => item.Title )
                        }
                    </td>
                    <td>
                        @if (item.IsArchived == false)
                        {
                            @Html.Partial("_TableButtonPartial", new IndividualButtonPartial
                       {
                           CosaId = item.Id
                       })
                        }
                        
                    </td>
                </tr>
            }

        </tbody>
    </table>
}




